node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env

# firebase emulators
firebase-debug.log.json
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
firestore-debug.*.log
ui-debug.log
storage.rules